@media screen and (max-width: 680px) {
	.SearchBar {
		width: 100%;
	}

	.LeftText{
		margin-left: 10px;
	}

	.RightText{
		margin-right: 10px;
	}
}

@media screen and (min-width: 681px) {
	.SearchBarMain{
		display: block;
	}

	.SearchBar {
		width: 100%;
	}

	.LeftText{
		margin-left: 10%;
	}

	.RightText{
		margin-right: 10%;
	}
}


.SearchBarTitle {
	font-size: 25px;
	text-align: center;
	color: #bbb;
	font-family: Helvetica;
	font-weight: 1;
}

.SearchBarMain{
	width: 100%;
}

.SearchBox{
	text-align: center;
	margin-top: 10px;
}

.SliderText{
	margin-top: 30px;
	height: 50px;
}

.SliderText h3{
	text-align: center;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

.LeftText{
	font-weight: bold;
	font-size: 18px;
	float: left;
}

.RightText{
	font-weight: bold;
	font-size: 18px;
	float: right;
}

.SliderBox{
	text-align: center;
}

.Slider{
	-webkit-appearance: none;
	width: 60%;
	height: 10px;
	background: grey;
}

.Slider::-webkit-slider-thumb{
  -webkit-appearance: none;
	width: 25px;
	height: 25px;
	background: red;
}

.TextSearch {
	height: 50px;
	background-color: #333;
	border-radius: 5px;
	color: #aaa;
	border-color: #222;
	text-align: center;
	font-size: 20px;
}

button:focus {
	outline: 0;
}

input:focus {
	outline: 0;
}

.BtnBox{
	text-align: center;
	margin-top: 30px;
}

.SearchSaveBtn {
	height: 30px;
	width: 100px;
	border: 1px solid #ccc;
	font-size: 17px;
	margin-right: 5px;
	cursor: pointer;
	background-color: #aaa;
	border-color: #aaa;
	border-radius: 3px;
}

.SearchSaveBtn:hover {
	background-color: #bbb;
	border-color: #bbb;
}
