.navbar{
    left: 0;
    z-index: 1;
    top: 15vh;
    position: fixed;
    background-color: #333;
    width: 100%;
    height: 50px;
}

.navbar a{
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #444;
}

.homeBtn{
    float: right !important;
}

.discoverBtn{
  margin-right: 5px;
}